<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Theories as of Chapter 6</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Theories as of chapter 6</h3>
                <div class="article-data">
                    <span>Apr 25th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>3 Min read</span>
                </div>
                <img src="../../assets/images/lotrimg/frodotom.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    I am six chapters in, about 130 pages through this 1000+ page book. I think it is fitting for me to start formulating some theories.
                    But before I go on, I have to confess I am not going through this story completely blind. I have seen movies 2 and 3 of the Lord of the
                    Rings trilogy (The Two Towers and Return of the King) about 2 decades ago. I have also read The Hobbit about 1 decade ago. 
                </p>
                   <p>
                       My memory is pretty hazy on the finer details but I do know Frodo succeeds in destroying the ring by throwing it into Mount Doom. I know
                    that Gollum jumps after it. At some point Aragorn, Legolas, and Gimli shows up. Gandalf does cool wizard shit. Also epic battles between orcs
                    and the our side. That's about it. That's all I remember. Wait no. Also legolas riding stairs with a shield like a surfboard while shooting arrows.
                    I imagine that was not in the books, but that was pretty epic to third grade me. With that in mind, I know the good guys win, but I do not know the finer details.
                </p>

                <p>
                    1) Where is Gandalf? He promised to meet Frodo before the hobbits left on their journey. Gandalf seems to be a man of his wonder
                    so I believe something has befallen him. I hypothesize that he is entangled with the Enemy. Sauron's forces may have captured or weakened him
                    so he cannot accompany Frodo on this treacherous journey. My other theory, his eyebrows have grow so thick and fuzzy that they have
                    completely covered his eyes. He cannot not see back to the Shire and Middle-earth has not yet adopted the practice of plucking eyebrows.
                </p>

                <p>
                    2) Is Bilbo dead? After Bilbo relinquished the ring to Frodo he left on a journey outside the Shire. The ring gave Bilbo
                    basically eternal life at the cost of his 'soul' or 'essence'. Now that Biblo no longer possesses the ring on him, does
                    the ring's magic linger or is he completely mortal again? I believe that Bilbo is dead. After a few days journeying, his overripe body
                    succumbs to the harsh elements. No longer feeling the spry psuedo-youth powers the ring gave him, Bilbo finds himself a final resting place,
                    content with passing away in a land beyond the Shire like he once adventured back so many years ago.
                </p>

                <p>
                    3) Who is Tom Bombadil? Who is this mysterious not-human, not-dwarf, not-hobbit, not-elf person? He claims to be beyond 
                    ancient, before other living things existed on Middle-earth, before even the rain drops or trees were there. His claims
                    are ridculous, but if they were true, it be similar to tales of Norse mythology - Did Tom Bombadil create Middle-earth himself?
                </br>
                    I have been informed that Tom is not in the movies. Yet, someone so powerful as to not be affected by the ring and yet see someone 
                    hidden by the ring must have powers that could rival Sauron himself if much of Sauron's power and magic is linked to the ring.
                    So someone this powerful does not play a large role in destroying the ring that he can be written out of the movies plot? What a 
                    curious narrative.
                </br>
                    But I believe we have not seen the last of him in the book. At the end of Chapter 6, Tom makes a point to teach the hobbits 
                    about a song that will summon him when they are in need. Another Chekov's gun has been shown, let us see when it will be fired.
                </p>
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>