<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Theories as of Book 1</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Theories as of Book 1</h3>
                <div class="article-data">
                    <span>May 4th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>3 Min read</span>
                </div>
                <img src="../../assets/images/lotrimg/frodo5.jpg" alt="">
            </div>

            <div class="container">
                
                <p>
                    With the ending of book 1 (of 6) for this 'Saga' I wanted to make a few theories. If I know vaguely what will eventually happen in the end, I want to try to guess how we get there or what may happen in between. I really have
                    little to know recollection of what happens in the middle besides the epic fights.
                </p>

                <p>
                    First of all, where is Legolas. I thought for sure when Aragorn spotted an elf coming and was excited, it was going to be Legolas, but instead it was Glorfindel. No offense to Glorfindel, but that's not the shieldsurfer I know. Now that we've arrived at 
                    Rivendell, a town (village? community?) of elves, will we meet Legolas? Also are there any ugly elves? Cause it seems like whenever Tolkien describes an elf (Glorfindel, Gildor Inglorion) are described
                    as breathtakingly beautiful. Which Legolas is in the movies, but no offense to agent smith elf, he's not exactly what I would describe as glamorous so I wonder if he will be descried as bewitching beauty as well.
                </p>
                
                <p>
                    Similarly, I want Gimili to join our party already. I'm not sure if he will be as unintentionally funny as in the movies but I love his demeanor and dwarf wisdom. I recall from the Hobbit that Thorin Oakenshield and his company was trying to recover the land from Smaug
                    in the Lonely Mountain. I'm not sure of the geography (are we going to get more maps, the only map at the beginning of the book was of the Shire which is nice and all but I little idea where the other places except in relation to each other since I know we're heading east to Mordor)
                    but are we going to pass through the Lonely Mountain to recruit Gimili? We need his axe!
                </p>

                <p>
                    Does Sauron have a corporeal form at the moment or is he just some kind of shadow form until he gets his powers back. I don't recall ever seeing his physical form and hasn't been described in the books yet.
                    I don't recall our protags slaying a Sauron in the movies either. I think I recall the big eye tower crumbling or something. Wait a second, I don't think the book as described a big-ass tower with a flaming eye yet? Must be in the later parts.
                </p>

                <p>
                    As far as characters go I feel only Frodo, Aragorn, and Gandalf are the only important introduced characters so far. Sam feels like he's just there to reassure Frodo and be by his side. I have no clue what Pippen and Merry are
                for other than to sing. I know they get separated at some point and it's just Frodo, Sam, and Gollum. That means they should have a B plot (C plot? since Aragorn would be up to something as well). My guess is that they are a diversion and pretend to be Frodo so Frodo gets away from some threat. After that I don't know.
                </p>

                <p>
                    I'm pretty sure Gandalf appeared at the end of Book 1. Who else can cause the water in the river to rise like that? Now that he's back he can fill us in on what he's been up to. I think he's going to travel with us a short time before some big threat than he has 
                    to ward off the threat while everyone else escapes. It's the issue of having such a powerful character in your story that you have to find ways to sideline them or else the story would progress to easily. Therefore Gandalf must be kept busy with the Enemy like he has been for most of Book 1 
                    or else we would just magic blast every goon coming our way.
                </p>

            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>