<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 13</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Many Meetings</h3>
                <div class="article-data">
                    <span>May 8th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 219-239</span>
                </div>
                <img src="../../assets/images/lotrimg/rivendell.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Frodo wakes up. He is in a bed of someone else’s home. “In the house of Elrond” someone speaks.


                </p>

                <p>
                    It is Gandalf!


                </p>
                Gandalf claims he read Frodo’s ‘mind and memory’ to understand what his journey has been like. I’m thinking Gandalf is pretty powerful.


                <p>
                    Gandalf says he was held captive. That is why he could not assist our group of adventurers earlier.


                </p>


                <p>
                    Strider is one of the people of the old Kings, the last remnant in the North of the great people - Men in the West.


                </p>

                <p>
                    Morgul-lord, Morgul-knives, I’m stil not completely sure what a Morgul is. Is it a place, a person, a thing?


                </p>
                Apparently black riders don’t have much of any form in the real world. Their cloaks and horses are real but their bodies mostly exist in the shadow realm.


                <p>
                    Wait wtf. It was Elrond that commanded the the river to rise and flood not Gandalf? Ok Mr. Weaving, I see you now. I had underestimated you. Although Gandalf apparently did add his own flair and made the the flood more fancy by making some waves look likes white horses.


                </p>

                <p>
                    Yeah, the book makes seem like Sam has a crush on Frodo in this passage:

                </p>

                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        “Sam came in. He ran to Frodo and took his left hand awkwardly and shyly. He stroked it gently and then blushed and turned hastily away. </br>
                    </br>
‘Hullo, Sam!’ said Frodo. </br>

‘It’s warm!’ said Sam. ‘Meaning your hand Mr. Frodo.”

                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>

                <p>
                    Can hobbit's grow beards?
                </p>

                <p>
                    Pippin is begging to sing again… he just needs to find a suitable song
                </p>

                <p>
                    Ah finally we get Elrond’s description. Although he is not described as beautiful like Glorfindel is he is described as venerable, someone who has seem much celebrations and strife. He is a proven warrior and a respected by both Elves and Men. I like the the Hugo Weaving casting for him. Although the books describes his hair as dark as the shadows in twilight I think movie Elrond had brownish brunette hair, but my memory is a big foggy on that.

                </p>
                <img src="../../assets/images/lotrimg/elrond.jpg" alt="">
                <p>
                    
We meet Arwen said to be very similar to Elrond’s appearance with dark hair and fair skin, but Arwen is described as having the appearance of Luthien reborn again.


                </p>
                <img src="../../assets/images/lotrimg/arwen.jpg" alt="">
                We meet Gloin, one of the dwarves that Bilbo accompanied in his journey. We learn that the Men of Dale are friendly to Dwarves. I was really hyped this was gonna be Gimili when Tolkien was introducing dwarf sitting next to Frodo, but alas not.


                <p>
                    Speaking of Bilbo we meet Bilbo again! He had traveled to Dale and back to Rivendell.


                </p>

                <p>
                    Then Bilbo goes on for a three page song. Goodness, that must be a record.

 
                </p>
                <img src="../../assets/images/lotrimg/bilboflip.jpg" alt="">
                <p>
                    
As Frodo walks back to his bedchamber he sees Elrond and Arwen with none other than Aragorn. Aragorn is wearing elven chain mail with a star upon his chest. Aragorn’s ancestor’s has close ties to elves so it is no surprise to me that Strider as well his close with Elrond’s family.

                </p>
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>