<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 3</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Three is Company</h3>
                <div class="article-data">
                    <span>Apr 18th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 65-86</span>
                </div>
                <img src="../../assets/images/lotrimg/blackrider.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Gonna list names of people and places that I think are going to be important.
                </p>
                <p>
                    Rivendell - elvish community - home to Elrond Halfelven (If I recall correctly, the agent smith looking elf)
                </p>
                <p>
                    Gandalf senses something is afoot. He leaves Frodo to investigate and promises to come back before Frodo's 50th birthday. The day that Frodo plans to leave the shire to embark on his quest. Gandalf does not return. This is highly unusual
                </p>
                <p>
                    Frodo's friends: Peregrin (Pippin) Took, Meriadoc (Merry) Brandybuck
                </p>
                <p>          
                    I don't think Samwise (Sam) Gamgee counts as Frodo's good friend yet. He works as a landscaper for Bag's End
                </p>
                <p>
                    The chapter title references Frodo, Pippin, and Sam leaving Bag's End to help Frodo move houses after he sold Bag's End 
                </p>
                <p>
                    Even after starting the journey and the trio of hobbits are still in the Shire, they realize they are being tracked or possibly hunted by a mysterious hooded black rider
                </p>
                <p>
                    Frodo subconciously feels like the rider is specifically searching for him and he is compelled to wear the ring
                </p>
                <p>
                    After a second close encounter with a black rider the trio meet a group a wandering high elves, they say they are exiles and plan to return over the great sea (leaving Middle Earth?)
                </p>
                <p>
                    The leader of the high elves introduces himself, Gildor Inglorian of house Finrod. He is impressed by Frodo's limited knowledge of elvish tongue and is aware that the 'Enemy' is after Frodo for one reason or another. Which is highly unsual for hobbits to be invovled in the greater affairs of the world
                </p>
                <p>
                    The book implies the Enemy is Sauron. Is Sauron the most powerful evil this world has ever seen? Or is he just the biggest threat to Middle Earth that exists at the this time and there has been greater threats in the past that have been either vanquished and forgotten?
                </p>
                <p>
                    I digress. The high elves accompany the hobbits to Woodhall, a eastern village of the Shire. There they exchange pleasantries, drinks, and information concerning the journey
                </p>
                <p>
                    It is a very perilous journey and dark forces have been moving in the shadows. A lot of responsibility falls on a person so small
                </p>

                <h3>Notes from L</h3>

                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        The high elves talking about leaving Middle-earth is them wanting to go to their ancestral home, Valinor (undying lands)
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Sauron is essentially the 2nd most evil being ever. Morgoth/Melkor is evil being number 1, and its not even a close comparison. Think of it being like Hitler compared to literally any nice person. Suaron is just the only one that really ever tries anything in Middle-earth. 
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Morgoth/Melkor always did his workings in Valinor because he is a Valar and pretty much doesnt think Middle-earth is important at all. Sauron knows it is a good area to control, and the fact that Sauron is only a Maiar means he couldn't really withstand any resistance from anyone/anything over in Valinor for a long period of time. Men are fickle creatures and a Maiar could more easily control and win in the land of Man
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Morgoth/Melkor: Supreme Evil General
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Sauron: Evil Lieutenant
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Sauron has the backings of other beings that support Morgoth. He also has schemes like the rings that were able to give him more power. Gandalf is a wizard which are Maiar but think of it like Sauron is a Maiar through existence and Gandalf kind of has to grow into his power more.
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        the wizards are tricky imo cause they are Maiar but they do not have the same impact that a Maiar like Sauron has
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        plus Sauron learned and grew through siding with Morgoth, and Morgoth is the 2nd most powerful being to exist
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Evil rankings: </br>

                        Morgoth </br>

                        Sauron </br>

                        others

                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Power rankings: </br>

                        Manwe </br>

                        Morgoth

                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Sauron is one of my favorite characters ever
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        he is very low to the ground in terms of power, but his schemes are good i think
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>

            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>