<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 5</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">A Conspiracy Unmasked</h3>
                <div class="article-data">
                    <span>Apr 20th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 98-108</span>
                </div>
                <img src="../../assets/images/lotrimg/hobbits2.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Hobbits arrive at Bucklebury of Brandy Hall.
                </p>
                <p>
                    Is Pippin the bard of the group? He's always singing a song: about traveling, going to bed, eating supper, or in this case taking a bath.
                </p>
                <p>
                    Hobbits love Mushrooms.
                </p>
                <p>
                    Chapter title refers to Sam, Pippin, and Merry seemingly two fold. It seems due to their closeness to Frodo, they surmised that Frodo was planning to leave the Shire and embark on a journey that he would not return.
Merry had once seen Bilbo vanish into thin air to avoid some unruly neighbors and then reappear with a glint of a gold chained ring hastily pocketed. That is how he realized the ring might be magical and important to Frodo's quest. Sam too would often overhear Frodo lamenting to himself never seeing the Shire again; it appears Frodo was less subtle about his quest than he thought.
The quest to defeat the Enemy was the conspiracy they believed in. Secondly, they conspired to not only assist Frodo leave the Shire, but also travel with him, by preparing the tools and equipment for a quest before Frodo even got to his new residence so they could leave with haste.

                </p>
                <p>
                    Oh cool, Pippin begins singing another song, this time about leaving to go on a journey, a song that is very reminiscent of the one the dwarves sang to Bilbo on his journey.
I guess he really does have a song for every occasion.

                </p>
                <p>
                    
The chapter ends ominously.

                </p>
                <p>
                    Frodo has a strange dream. He is dreaming of the sea, he hears the waves crash and smells the salt in the air. It is a dream he has had often in the past. But it is most peculiar as he has never been to the sea because he has never left the Shire before.
Frodo sees a white tower on a high ridge in his dream. He is unsure why but he is drawn to it. He feels a strong urge to scale the tower.

                </p>
                <p>
                    What does the dream mean, has he had these dreams before he acquired the ring from Bilbo? It is strange and curious, but the significance will be revealed in time.
                </p>
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>