<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 5</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">The Old Forest</h3>
                <div class="article-data">
                    <span>Apr 21st 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 108-123</span>
                </div>
                <img src="../../assets/images/lotrimg/forest.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Our group of plucky hobbits leave the Shire at last into the Old Forest via a damp tunnel under the Great Hedge that marks the border between the eastern edge of the Shire and the outside.
                </p>
                <p>
                    Merry says the trees to the east of the edge in the Old Forest whisper and move about. Could he be speaking about Ents?
                </p>
                <p>
                    It is said that in the past the trees moved and encroached into hobbit lands, but the hobbits fought back and cut down the trees that grew too close and made a big bonfire in the Old Forest to make a statement.
Ever since then, the trees seemed 'unfriendly' and imposing but never grew so near to the Shire again.

                </p>
                <p>
                    Alright, today Frodo is the one singing, he is seeing a quiet tune about escaping the vast forest.
                </p>
                <p>
                    It is easy to get lost in the Old Forest. The trees are lumbering giants and the hobbits are so small in stature in comparison.
It is difficult for our company of four to see above the treetops and navigate the forest with visual cues from landmarks.

                </p>
                <p>
                    Merry spots a river in the distance: the Withywindle river which flows into the Withywindle valley - a most strange and queer place that Merry suggests that the hobbits do their best to avoid. The heart of Withywindle valley lies to the north but they hobbits are looking to reach the east road.
                </p>
                <p>
                    Nevertheless Chekov's gun is shown and immediately fired as our hobbit friends find themselves lost among the trees and swaying branches and stumbling through the many tree roots. Their meandering leads deep into Withywindle valley.
                </p>
                <p>
                    After traveling from dawn to mid afternoon with no rest or relaxation, the gang happens upon a large old willow tree by the river. Merry and Pippen propose a break. Frodo objects hoping to leave the forest by nightfall, but the other hobbits already start unpacking and unwinding.
For some reason they all feel groggy. Frodo, with heavy eyelids, moves to the river to wash his feet, feeling something amiss.
Sam, already nodding off, senses the situation uncanny as well and goes to find Frodo.

                </p>
                <p>
                    Sam sees Frodo in the river, fallen. Frodo had been knocked into the river by a tree branch. A strange thing to be sure, Sam suggest Frodo hallucinated it.
                </p>
                <p>
                    They go back and discover Pippin and Merry entangled and entrapped by the great old willow tree!
                </p>
                <p>
                    
Our distressed duo grab a small wood cutting axe and made some fire from tinder. It is useless against the might of the large willow.

                </p>
                <p>
                    Frodo calls for help, seemingly alone in this big forest.
                </p>
                <p style="font-style:italic">
                    Hey dol! merry dol! ring a dong dillo! </br>
Ring a dong! hop along! Fal lal the willow! </br>
Tom Bom, jolly Tom, Tom Bombadillo!

                </p>
                <p>
                    Here comes Tom Bombadillo, the summoned stranger singing a silly song.
He sings to the old willow tree with annoyance and a patronizing tone. And the old willow relents releasing our boys Pippin and Merry.

                </p>
                <p>
                    The hobbits seem enchanted by the mysterious stranger whether it be his charisma, eccentricity, or just his magical voice.
Is his voice or songs magic? He is very peculiar.

                </p>
                <p>
                    Tom invites our quad squad of hobbits to his home and the hobbits venture there to meet him.

                </p>
                <p>
                    They are greeted by him and a woman, "The river daughter", she seems to be called.

                </p>
                <p>
                    They sing a welcoming song.
                </p>
                <p>
                    I'm beginning to believe that Lord of the Rings is less an epic fantasy and more a colorful musical.
                </p>
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>