<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 12</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Fight at the Ford</h3>
                <div class="article-data">
                    <span>May 2nd 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 197-215</span>
                </div>
                <img src="../../assets/images/lotrimg/dripking.png" alt="">
            </div>

            <div class="container">
                <p>
                    Frodo recovers and asks ‘Where is the Pale King?’ Is that the black rider dude with the crown? Imagine going the lengths of decorating your ghoulish body with fancy headwear and flowing black robes only to be called the Pale King instead of the Drip King smh.


                </p>
                <p>
                    It seems when Frodo shouts while wearing the ring, his voice is muffled and dim as if from a great distance or underwater.

                </p>
                <p>
                    According to Strider Frodo was pierced by Black Rider’s sword and the wound, possibly magical, could influence him to give up the ring or perish.


                </p>
                <p>
                    Strider continues dumping lore - Frodo's sword may have struck the Drip King and tore a bit of his Balenciaga robes, but it had no effect on the host's body. Instead, what drove the rider away was the words ‘Elbereth’ that Frodo uttered.


                </p>
                <p>
                    The blade that slashed Frodo was apparently cursed and evil. It’s ok, Frodo. Use a Flask of Crimson Tears and consume some boluses.


                </p>
                <p>
                    They depart from Weathertop as it is no longer safe there. Now Frodo rides their singular pony, while the rest divide the baggage to alleviate the burden.


                </p>
                <p>
                    They reach a bridge, the Last Bridge, it is called which is the only way over the large and quick River Hoarwell. On the bridge, Strider discovers an elf-stone, a green stone. They take it as a hopeful meaning.

 
                </p>
                <p>
                    Frodo’s wound is hurting and burning him painfully. Perhaps only some kind of Elven magic or herb-like senzu beans can heal Frodo, otherwise, I do not see how he could be so maimed throughout the entire journey.


                </p>
                <p>
                    The wooded forests and the uneven footing made it difficult for them to navigate and pass through. However, Pippin spots a nice path where the trees are cleared and knocked and the ground has given way to either many footsteps or perhaps some heavy ones.


                </p>
                <p>
                    Heavy ones indeed, they encounter three trolls. And not just any trolls, these are the true three stooges that tried to figure out how to best cook Bilbo and his dwarf companions from The Hobbit. The trolls turn to stone when exposed to sunlight. Our hobbits had quite the scare nevertheless.

 
                </p>
                <img src="../../assets/images/lotrimg/trolls.jpg">
                <p>
                    The mood turns jolly and Sam sings a song about trolls. Classic.


                </p>
                <p>
                    A lil excerpt from the last verse that I found especially amusing: </p>
                <p style="font-style: italic;">
Tom’s leg is game, since home he came, </br>
And his bootless foot is lasting lame; </br>
But Troll don’t care, and he’s still there </br>
With the bone he boned from its owner. </br>
Doner! Boner! </br>
Troll’s old seat is still the same, </br>
And the bone he boned from its owner! </br>


                </p>
                <p>
                    As they settle down to make camp a clip-clop of hooves is heard. Riders, be it black or otherwise, the gang goes into hiding.
                </p>
                <p>
                    
To Aragorn’s excitement it is no black rider, but an elf, Glorfindel. Glorfindel tells us he’s been looking for our ragtag team (plus Aragorn). Apparently, the “Nine” has been looking for Frodo likely means the nine men in the olden days whose rings corrupted them and turned them into the now black riders.


                </p>
                <img src="../../assets/images/lotrimg/Glorfindel.jpg">
                <p>
                    With their journey to Rivendell now coming to and end the place in sight, they are chased by black riders. Although Frodo ought to flee, he feels the riders commanding him to wait for them.


                </p>
                <p>
                   Frodo was riding the sleek and fast Elf horse the Glorfindel lent him. Even though Frodo commanded the horse to wait, Glorfindel spoke in elvish tongue and got the horse to race away.

 
                </p>
                <p>
                    Frodo barely makes it between two ambushing black riders to the other side of the ford, the riders are coming after him and he feels compelled to stay again.


                </p>
                <img src="../../assets/images/lotrimg/ford.jpg">
                <p>
                    Frodo yells for them to leave and brandishes his sword but it is no use. The riders march forward across the water when all of a sudden the water level rises all of the sudden washing away the riders in the river. A Frodo starts to black out he sees a faint shining figure of white light. Could it be Gandalf coming to save the day? Who knows, cause the chapter ends on this cliffhanger. 


                </p>
                <p>
                    That’s it for book one. Five books to go and about 1000 pages left! Next time we will see Rivendell most likely. 

                </p>
               
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>