<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 2</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">Shadow of the Past</h3>
                <div class="article-data">
                    <span>Apr 15th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 42-65</span>
                </div>
                <img src="../../assets/images/lotrimg/frodogandalf.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Lore dump chapter
                </p>
                <p>
                    Properties of the ring:

                    Also known as one of the Great Rings/Rings of Power. </br>

                    Elven-made </br>

                    A mortal possessing the ring will not die or age but will grow weary and
                     'stretched thin' by the ring's powers as if the ring was draining the
                      mortal's life force
                    The ring will overcome the ring and possess them </br>

                    The ring will change size, shape, and weight like it has a mind of its own so that I can slip of the owner's finger at inopportune times so that it can be found by another person to ultimately get back to Sauron, the OG owner of the ring
                    That's why bilbo kept it on a chain so as not to lose it
                </p>
                <p>
                    "The White Council drove the dark power from Mirkwood" Not sure what this
                     means. (Ok later in the chapter it kind of explains, the dark power is
                      probably Sauron, is the white council the order that Gandalf and Saruman
                       are in? No clue where Mirkwood is - or any of these locations,
                        Mordor, Anduin River, etc are to each other. The Map at the
                         beginning just showed the Shire.
                </p>
                <p>
                    Seems Saruman the White is very knowledgeable about rings but is leading 
                    Gandalf astray on their true nature or at least diverting Gandalf's attention
                     when Gandalf tries to find out more about Bilbo's ring
                </p>
                <p>
                    Gandalf is the hobbit loremaster
                </p>
                <p>
                    Why do you have to give up the ring on your own accord? 
                    (oh, I think I'm learning now later in the chapter that if you 
                    take away the ring by force it could shatter the owner's mind because
                     how attached and 'mind-melded' with the ring). 
                </p>
                <p>
                    "One ring to rule them all, one ring to find them. 
                    One ring to bring them all and in the darkness to bind them." ooh iconic
                </p>
                <p>
                    So there are 3 rings for the elf kings but the elf kings hid away from Sauron. Did they just vanish from history?
                </p>
                <p>
                    7 Dwarf rings. It says Sauron got 3 back and 4 were consumed by dragons. But it seems like maybe he got those 4 
                    back as well? Confused about if Sauron has 3 or 7 of the dwarf rings.
                </p>
                <p>
                    The 9 Mortal Men rings were retrieved by Sauron and those men became ringwraiths, Sauron's greatest followers.
                </p>
                <p>
                    Sauron can be vanquished but he can never die? So his spirit/shadow can flee elsewhere while he recovers and becomes corporeal again? Not sure if I understood this correctly.
                </p>
                <p>
                    Gandalf does not take the ring himself because he is afraid of the ring corrupting him. I think I read somewhere that the ring doesn't affect hobbits as much as other races of creatures? Anyway I suppose the more powerful the owner of the ring the more dangerous it could be should it fall into the wrong hands, even a good peron's hands if the ring corrupts them enough.
                    But Hobbits ought to be the best ringbearers because they are mostly wholesome by nature but lack any dangerous physical or mental attributes. They can be hardy and tough, but not physically imposing, they can be smart, but rarely known as cunning, so they make the safest people to bring the ring to Mordor as long as they are protected from the Enemy in their treacherous danger there. 
                </p>
                <p>
                    Sam is adorable
                </p>

                <h3>Notes from L</h3>

                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Not to give anything away, but to expand on some of your confused points. Sauron is a Maiar and essentially a lesser god. His physical entity can be destroyed, but his essence (soul/divinity/whatever you want to call it) can not be. Even Morgoth/Melkor is still in existence even though he is in the Void. Not to give anything too drastic away, but the Ring essentially holds a lot of his being in it, so if it were to be destroyed he would have to retreat back to Valinor and more or less become whole again before he could ever return to Middle-earth
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Celebrimbor was an elf that Sauron came to and manipulated/deceived into creating the rings of power. Once all the other rings were made, Sauron more or less watched and learned from Celebrimbors technique and created his own.
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        The White Council going to Mirkwood is depicted in the Hobbit movies. You may remember the area being called Dol Guldur. Sauron basically takes over a land and uses it to hide himself and his schemes. He was not strong enough to move to Mordor at this point. (but at the time they call him the Necromancer cause they weren't exactly sure)
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        Oh and Gandalf does not want to touch the ring because he is also a Maiar and he can basically feel the malice in the Ring
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
                <blockquote class="quote">
                    <p><span><i class="ri-double-quotes-l"></i></span>
                        The other rings do have special things they offer the wearer, but it mostly just enhances your self. i dont remember exactly the details on the abilities, but the Ring doesn't really make you invisible technically speaking </br>
                    it just basically shows/puts you in like the "shadow" world of the world </br>
                    thats why when you wear it Sauron and the Ring Wraiths know exactly where you are. because they are also The Shadow
                        <span><i class="ri-double-quotes-r"></i></span></p>
                </blockquote>
            
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>