<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 9</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">The Sign of the Prancing Pony</h3>
                <div class="article-data">
                    <span>Apr 27th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 149-163</span>
                </div>
                <img src="../../assets/images/lotrimg/strider2.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    We arrive at Bree, the chief village of Bree-land, according to legend, the folk there descended from the first men that arrived in the middle-world.
                </p>
                <p>
                    Beyond west of Bree were mysterious wanderers from wild lands. Rangers, they were called. Those men were bigger and taller with strange abilities and enhanced hearing and sight. My memory is hazy, but could Aragorn have been a ranger?
                </p>
                <p>
                    Of Bree-land there were four villages, Bree, Staddle to the other side of the hill, Combe in the Valley, and Archet by the fields and woodlands.
                </p>
                <p>
                    Our quartet of Little Folk (as hobbits are called in Bree and men are called Big folk) arrive at he gate. After questioning by the guard they are let in. Both parties feel suspicious and on edge. There have been strange happenings lately and four hobbits from the Shire arriving in the dark of night is a most peculiar situation.
                </p>
                <p>
                    They arrive at the Prancing Pony, ownd by Barliman Butterbur. On this particular night the Prancing Pony housing multiple parties of people, a group from Greenway, a company of dwarves, and now a gaggle of hobbits.
                </p>
                <img src="../../assets/images/lotrimg/pony.jpg">
                <p>
                    Once settled in the rooms with their beer and supper prepped, all our hobbits but Merry go to meet the other travelers and locals that have set up in the lobby of the inn.
                </p>
                <p>
                    After introductions, Frodo (using Underhill as a fake name) explains that he is here to learn geography and history beyond the Shire, they learn what the other travelers are up to.
                </p>
                <p>
                    The men from the south share disturbing news. They are on the move, looking to settle down away from the dangers and looming threats in the south. Expect more displaced families to settle down here or further north they claim.
                </p>
                <p>
                    Good golly miss molly, is that an Aragorn appearance? Mr. Butterbur explains the mysterious man is a ranger and he comes and goes through this Inn many times a year. No one knows his name, but he is known as ‘Strider’
                </p>
                <p>
                    I confess, if I had had previous knowledge from the movies, I would be highly suspicious of this man to be a black rider in secret.
                </p>
                <img src="../../assets/images/lotrimg/strider.jpg">
                <p>
                    Strider gives good advice, the hobbits are too comfortable sharing funny tales from the Shire. Entertaining the locals and travelers, Pippin and Sam are having a blast. Pippin begins telling the story of Bilbo’s last birthday feast where he puts on the ring to disappear. Benign as the folk be in the Inn presently, this is not the story to share with strangers. ‘Do something!’ Strider urges Frodo.
                </p>
                <p>
                    Frodo leaps into action with a few words of gratitude for the people at the tavern. Embarrassed by his outburst Frodo fidgets with the ring, wanting to disappear. The audience cheers for a song, a song, and Frodo delivers one that Bilbo taught him. It’s like a Lotr version of ‘Hey diddle diddle, the cat and fiddle, the cow jumped over the moon’ song.
                </p>
                <p>
                    Tolkien sure loves music and songs doesn’t he? This song is two pages long. When you guys read songs in text, do you sing them in your head? Do you make up a melody?
                </p>
                <p>
                    The crowd loves it. They cheer for an encore and Frodo relents. Lost in his excitement he falls and disappears! Somehow his finger slipped on the ring. Or does the ring have machinations to be found and brought to its original owner, Sauron?
                </p>
                <p>
                    The audience gasps, bewildered and astonished. A local Bree-lander and a southerner who had been making quiet talk in the back looked suspiciously and left the inn. A most troubling outcome now that it seems news of the Ring will spread to the dark lord.
                </p>
                <p>
                    Strider calls Frodo to talk privately later. The situation has turned a mess, and the inhabitants of the inn, untrusting of magic and shenanigans, glowered at the Shire hobbits. Many took to turn in for the night. Mr. Butterbur himself asks Frodo for a private word later, after he takes care of a few things. Frodo, afraid, fears perhaps Butterbur may be concealing his intentions, perhaps his disappearing act has caused enough alarm to upend the whole journey.
                </p>
                <p>
                    A most excellent chapter and the next chapter is titled ‘Strider’! Three chapters left in book 1 and I believe we are getting into the climax of this part. How soon can we meet Legolas and Gimli as well?
                </p>
               
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>