<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 11</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">A Knife in the Dark</h3>
                <div class="article-data">
                    <span>May 1st 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 176-197</span>
                </div>
                <img src="../../assets/images/lotrimg/weathertop3.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    Ooh, who’s getting shanked? I know it’s Pippin. He’s been too carefree singing and he’s gonna get what’s coming to him from a local barkeep tired of his tunes.

                </p>
                <p>
                    Hey, it’s Fatty Bolger (his actual name in the book, I’m not making fun of this guy). I thought he was so unimportant, that I didn’t even mention him in one of the earlier chapters. Any-who he helped our 4 other hobbits get prepared to set off from Buckland to Bree. It appears our portly pal is about to get an unwelcome visit from three black riders.
                </p>
                <p>
                    “Open, in the name of Mordor!” said a voice thin and menacing (said by a black rider). Oh goodness, the heinous and root of all evil in Middle earth are respecting the knock and announce rule and abiding by the fourth amendment: protection against unreasonable search and seizure. Oh boy, the black riders of Sauron are doing better in some aspects than some of our cops.
                </p>
                <p>
                    After the warning, the shadowy figures knock down the door and entered the little hobbit home. I guess Sauron gave them a warrant. Oh no, this is it, isn’t it. Our Fatty Bolger is gonna get turned into swiss cheese by MEPD.
                </p>
                <img src="../../assets/images/lotrimg/Fatty-Bolger.jpg">
                <p>
                    Sike. Fatty Bolger, or should I call him Fast & Furious Bolger gave the riders the slip and was spriting well into town by the time they barged into his home. He alerted the residents of Buckland of the intruders and the Brandybucks sounded the Horn-call of Buckland, an alarm horn that had not been sounded in centuries. “AWAKE! FEAR! FIRE! FOES! AWAKE!” Wow, they really covered their bases with all possible threats that start with the letter F.


                </p>
                <p>
                    These black riders were described as mysterious and ominous in the first few chapters. Now these guys are fumbling and bumbling about trying to flee the scene. One of them tossed the hobbit cloak he was inspecting and ran to his horse and flee. And flee they did , these three riders, or three stooges should we call them, were more bark than bite. At the sound of the hobbit horns they ran. Oh no, here comes a small band of three feet tall people coming to drive us out! 


                </p>
                <p>
                    If the riders didn’t leave with their pride, they at least left knowing the ring was no longer in the Shire and they would inform Sauron.


                </p>
                <p>
                    Does Aragorn sleep with his eyes open? Or is my reading comprehension that bad, because Tolkien made it seem that way in the passage I’m reading right now.

 
                </p>
                <p>
                    They are ready to leave at sunrise but to their dismay, their ponies and all the ponies in the stable are gone! With no other choice, the gang must walk all the way to Rivendell.
                </p>
                <p>
                    No pony in town could be gotten, except one. Bill Ferny’s underfed and poorly treated pony. The same Bill Ferny that ratted Frodo out the night he accidentally slipped on the ring. And Ol’ Bill was selling his pony for three times its value! Bill Phony’s a real piece of work.


                </p>
                <p>
                    Mr. Butterbur took care of the cost himself and have a little extra for our hobbits for the journey. I’m sorry I doubted you, Bill. You’re a real G.


                </p>
                <p>
                    On the way out of Bree, leaving on the main road, Sam spots Bill Fugly and throws an apple at his face. Bullseye.


                </p>
                <p>
                    After a while on the main road, Aragorn leads our hobbits off the beaten path - a shortcut that will allow the group to avoid a great curved loop the road would’ve taken them, but instead straight to the other side through the Midgewater Marshes; a most unpleasant prospect.


                </p>
                <p>
                    Midgewater. I’m learning now from google that midges are small flies and mosquitoes. Our hobbits are being feasted on like no other, biting when they try to eat, sleep, and walk. Forget Sauron, I’ve identified the true lurking evil of Middle earth and it lives here in this bog.


                </p>
                <img src="../../assets/images/lotrimg/midgewater.jpg">
                <p>
                    Our boys see a strange flashing light in the far far distance but can’t make out what it is. Maybe this will be important later.


                </p>
                <p>
                    Sam sings a song about old lore: Gil-galad, an elf king that rode away and was not heard of again.

 
                </p>
                <p>
                    Aragorn does not like it when the hobbits speak of certain things like saying wraiths and Mordor. 


                </p>
                <p>
                    
They arrive at Weathertop, its center was a circle of broken stones and a pile of scorched bones like a landmark amongst the hills. They were hoping to meet Gandalf here.

                </p>
                <img src="../../assets/images/lotrimg/weathertop1.jpg">
                <p>
                    
They find a rune-marked stone likely etched by Gandalf. Aragorn surmises that the light they so before was the light of Gandalf’s magic against the Enemy and he was in a hurry and could only leave a simple message.

                </p>
                <p>
                   
From the vantage point of Weathertop they see shadows down below. Black riders!
 
                </p>
                <p>
                    
Aragorn gives us a lore injection for these beings. They cannot see the light as normal beings do, but they see shapes that cast a shadow in their minds. When darkness settles in, they can perceive many things that our normal eyes cannot, and they smell the blood of living things, something they despise. Above all else, the ring draws them in, they lock in its location like a compass.

                </p>
                <p>
                    The black riders fear fire so if things get dicey, bring out the Bic and wave it like it’s a Bob Dylan concert.


                </p>
                <p>
                    Oh, more Gil-galad lore dump from Aragorn. Or should I call him Strider, cause they’re back to calling him Strider in the book for a while now?


                </p>
                <p>
                    Gil-galad was the last great Elf-king. Nvm. Aragorn stops cause he doesn’t want to discuss it in the open. Only once we get to Rivendell will we learn why this guy is getting brought up so much.


                </p>
                <p>
                    Strider sings about Tinuviel (aka Luthien in elven tongue) and Beren instead - an elf princess and a mortal man. The elf princess was the fairest in all the land. Beren and Tinuviel meet and go through many trials not only against Sauron but Sauron’s master, the Great Enemy. Beren takes one of the Silmarils (one of the brightest jewels) to use as a token of bridal wealth to give to Tinuviel’s father Thingol. Wait is that where the name Silmarillion comes from?


                </p>
                <p>
                    Even after all their obstacles, Beren is killed by the Wolf from Angband and dies in Tinuviel’s arms. Like a Romeo and Juliet tale, Tinuviel gives up her immortality to be with Beren in death. If I’m reading this correctly, are elves immortal and Tinuviel is the only one to die without being slain?


                </p>
                <img src="../../assets/images/lotrimg/beren.jpg">
                <p>
                    It is said that Elrond is descended from Tinuviel. Beren and Luthien had a child: Dior Thingol. Dior’s son was Elwing who marries Earendil. Their descendants are the Kings of Numenor. 👀 Aragorn you sly dog, are you flexing lineage while playing it off like it’s random trivia?


                </p>
                <p>
                    Suddenly black riders approach! Everybody is on their feet. Our poor hobbits are scared to the bone. Frodo feels compelled to put on the ring even after all the warnings from Gandalf and Strider. But the feeling eats away at him. He resists and resists, but the call was too strong. He slips on the ring.

 
                </p>
                <img src="../../assets/images/lotrimg/weathertop2.jpg">
                <p>
                    As if he was transported into the shadow realm, he suddenly sees the riders perfectly clear, even in the dark of the night. He could see underneath their robes and they looked pale and ghoul-like. A frightening sight to behold. The rider's eyes lock on him as well as if they could see him perfectly as well in the dark. The biggest rider, one with a crown, took his long sword and lunged. Frodo ducked down and swung with his dagger of a sword and yelled ‘O Elbereth! Gilthoniel!’ (I assume this is Elvish for GTFO But I digress) and struck the rider’s feet. The rider yelled, and Frodo felt his shoulder pierced.  Strider leaps in with a flaming branch to drive them out. Frodo removes the ring.


                </p>
                <img src="../../assets/images/lotrimg/fire.jpg">
                <p>
                    Should’ve just listened to Strider and used fire bro. But you had to put on the ring and pinpoint your location like you’re calling the black rider uber to your address.

                </p>
               
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>