<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning From Middle-earth | Chapter 8</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="../../assets/css/swiper-bundle.min.css"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar container" id="navbar">
            <a href="../../index.html">
                <h2 class="logo">Good Morning From Middle-earth</h2>
            </a>
            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../../categories.html" class="list-link">Categories</a>
                    </li>
                    <li class="list-item">
                        <a href="../../chapter_reviews.html" class="list-link">Chapter Reviews</a>
                    </li>
                    <li class="list-item">
                        <a href="../../about.html" class="list-link">About</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signin.html" class="list-link">Sign in</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="../../signup.html" class="list-link">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <div class="icon-box place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </div>

                <div class="icon-box place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </div>

                <div class="icon-box place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </div>

                <a href="../../signin.html" class="list-link screen-sm-hidden">Sign in</a>
                <a href="../../signup.html" class="btn sign-up-btn fancy-border screen-sm-hidden">
                    <span>Sign up</span>
                </a>
            </div>
        </nav>
    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">
        <div class="form-container-inner">
            <form action="" class="form">
                <input class="form-input" type="text" placeholder="What are you looking for?">
                <button class="btn form-btn icon-box" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>
        <div class="btn form-close-btn icon-box place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </div>
    </div>

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">The Fog of the Barrow Downs</h3>
                <div class="article-data">
                    <span>Apr 26th 2022</span>
                    <span class="article-data-spacer"></span>
                    <span>pages 135-149</span>
                </div>
                <img src="../../assets/images/lotrimg/barrow.jpg" alt="">
            </div>

            <div class="container">
                <p>
                    I’m not sure if Frodo was so enchanted by elvish beauty, but it seems he was yearning to say goodbye to Goldberry as they left Tom’s home that he wanted to double back just to say bid farewell. Alas Goldberry met them as they were leaving and Frodo could get any words out to Goldberry but a solemn bow.
                </p>
                <img src="../../assets/images/lotrimg/goldberry.jpg">
                <p>
                    As they travel through the Barrow Down they see a strange stone that stood out like a landmark. Against their better judgement, they settled down and made camp to rest and replenish their energy with food and drink. But they find themselves soon in slumber, much like strange magic that made them sleep by Old Man Willow. Our hobbits wake to a mist that surrounds them like nebulous walls of atmosphere.
                </p>
                <p>
                    
The fog was colder and denser the more they traveled down the valley. They came across a gate-like opening. Seeing it as a way out they surrender themselves to this hope of salvation from the damp fog.

                </p>
                <p>
                    Frodo led the way, the group now in single file. But it wasn’t before long that he led track of the others. In his panic, Frodo loses his pony off into the darkness. He hears voices - ‘hoy Frodo! Hoy! Help help!’
                </p>
                <p>
                    In the darkness the voice and Frodo finally meet up. Before Frodo lies a dark figure, tall and shadowy - ‘Here. I am waiting for you’ 
                </p>
                <img src="../../assets/images/lotrimg/frodowight.jpg">
                <p>
                    Barrow-wight? At least that is what Frodo thinks they are. Although he is scared, Frodo tries to muster his courage. Darkness gives away to faint green glow. Frodo sees his companions - Merry, Pippin, and Sam lying down seemingly unconscious but with many treasure, jewels, and trinkets by their sides and long naked sword across the flesh of their necks.
                </p>
                <p>
                    A bony hand moved on it's own walking on its fingertips towards that sword. Frodo, afraid, dreamed a situation where he puts on the ring to escape and grieves his friends demise.
                </p>
                <p>
                    He wells up his courage and grabs a short sword (likely from the treasure lying around) and strikes the moving hand destroying the sword in the process. A shrieking sound and darkness all around Frodo, the situation remains dire.
                </p>
                <img src="../../assets/images/lotrimg/wight.jpg">
                <p>
                    Frodo recalls the song Tom had taught the to summon him in case of trouble. In desperation, Frodo calls out to Tom with the song: 
                </p>
                <p>
                    “Ho! Tom Bombadil, Tom Bombadillo! By water, wood and hill, by reed and willow, By fire, sun and moon, harken now and hear us! Come, Tom Bombadil, for our need is near us!”
                </p>
                <p>
                    And just like that, in mere moments, Tom comes busting through the Barrow Downs like kool-aid man. The light seeps into the darkness of the downs and Tom gives the evil spirits a good roundhouse kick and karate chop (not really) He does so figuratively with his melodic voice and magical songs that the wights are pushed back into the darkness.

                </p>
                <p>
                    He and Frodo take the other unconscious hobbits into a safer area for them to recuperate. With them, they loot some of the treasure they found while in the downs. 
                </p>
                <p>
                    When the other hobbits come to, Tom hands them some seemingly magical or at least magic-made weapons. Ornate and created with master craftsmanship, these swords could come in play later when the hobbits need to defend themselves from greater threats.
                </p>
                <p>
                    
Tom helps guide the hobbits to the edge of his territory, he will not pass the borders as he must attend to his home and be with Goldberry. As to whether or not he is as powerful outside his territory remains to be seen.

                </p>
                <p>
                    He suggests the hobbits to visit an inn called the Prancing Pony in Bree-hill. It seems that is the next pitstop on this journey.
                </p>
            
                <div class="author d-grid">
                    <div class="author-image-box">
                        <img src="../../assets/images/author.jpg" alt="" class="article-image">
                    </div>
                    <div class="author-about">
                        <h3 class="author-name">Allan Gao</h3>
                        <p>Check out my social media! I post lots of fun stuff!</p>
                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-link"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=uE-1RPDqJAY" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                            </li>
                            <li class="list-item">
                                <a href="https://www.youtube.com/watch?v=Wm3zwdU7ipw" class="list-link"><i class="ri-twitter-line"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">
            
            <div class="company-data">
                <a href="../../index.html">
                    <h2 class="logo">Good Morning From Middle-earth</h2>
                </a>
                <p class="company-description">Grab your cup of joe, diet coke, 
                    or your beverage of choice and come join me as I read Lord of the 
                    Rings for the first time. 
                    I'll be sharing my journey through Middle-earth as I display my 
                    nonsensical theories and lack of reading comprehension for your enjoyment.
                     Brought to you every morning!</p>
                <ul class="list social-media">
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=Tx1XIm6q4r4" class="list-link"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=epUk3T2Kfno" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=ZZ5LpwO-An4" class="list-link"><i class="ri-twitter-line"></i></a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.youtube.com/watch?v=maAFcEU6atk" class="list-link"><i class="ri-pinterest-line"></i></a>
                    </li>
                </ul>

                <span class="copyright-notice">&copy;2022 Good Morning From Middle-earth. All rights reserved.</span>
            </div>

        </div>
        
    </footer>

    <!-- Swiper.js -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="../../assets/js/main.js"></script>
</body>
</html>